{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<section class="shop-page-section sidebar-page-container shop-page-3">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-9 col-md-12 col-sm-12 content-side">
                <div class="sidebar-content">
                    {% for sub_category in sub_categories %}
                    <div class="our-shop">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 shop-block">
                                <div class="shop-block-one">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img src="{{ sub_category.reviewpost_set.first.product_image_url }}" alt="">
                                            <ul class="info-list clearfix">
                                                <li><a href="#"><i class="flaticon-heart"></i></a></li>
                                                <li><a href="/{{ category.slug }}/{{ sub_category.slug }}/">Learn More</a></li>
                                            </ul>
                                        </figure>
                                        <div class="lower-content">
                                            <a href="/{{ category.slug }}/{{ sub_category.slug }}/">{{ sub_category.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
                <div class="sidebar shop-sidebar">
                    <div class="sidebar-widget categories-widget">
                        <div class="widget-title">
                            <h3>See Some Example Posts</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="categories-list clearfix">
                                {% for sub_category in sub_categories %}
                                    <li><a href="/{{ category.slug }}/{{ p.sub_category.slug }}/{{ p.slug }}">{{ sub_category.reviewpost_set.first.productname }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}