{% extends "blog/base.html" %}
{% load static %}
{% block content %}
	<section class="contact-section">
		<div class="auto-container">
			<div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
				<div class="form-inner">
					<form method="post" action="{{ crawler_api }}" id="create-review-post" class="default-form">
						<select id="group_name" name="group_name" class="nice-select wide open form-group" required>
							{% for group in groups %}
									<option value="{{ group }}">{{ group }}</option>
							{% endfor %}
							</select>
						<div class="col-lg-12 col-md-12 col-sm-12 form-group">
							<textarea id="keyword" name="keyword" placeholder="Keyword..." required></textarea>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn centred">
							<button type="submit" class="theme-btn-two" id="form-submit" name="form-submit">Create Posts<i class="flaticon-right-1"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	{{ auth_header_string|json_script:"auth_header_string" }}
	
	<script>
        var createReviewPost = document.getElementById("create-review-post");
        var AUTH_HEADER_STRING = JSON.parse(document.getElementById("auth_header_string").textContent);

		createReviewPost.addEventListener("submit", function(event) {
			event.preventDefault();
			
			var form = event.target;
			var data = Object.fromEntries(new FormData(form).entries());
			
			fetch(form.action, {
				method: form.method,
				body: JSON.stringify(data),
				headers: {
					"Content-Type": "application/json",
					"Authorization": "Bearer " + AUTH_HEADER_STRING
				}
			}).then(function(response) {
				console.log(response);
			}).catch(function(error) {
				console.log(error);
			});
		});
	</script>
{% endblock %}