{% extends "blog/base.html" %}
{% block content %}
<section class="collection-style-two sec-pad-2">
    {% for post in posts %}
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 single-block">
                <div class="single-item wow fadeInUp animated animated" data-wow-delay="00ms"
                    data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{ post.product.product_image }}"
                                alt="{{ post.product.product_image_alt }}"></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h3><a href="/{{ category_slug }}/{{ sub_category.slug }}/{{ post.slug }}"><br />{{ post.product.product_name }}</a></h3>
                                <div class="link"><a href="/{{ category_slug }}/{{ sub_category.slug }}/{{ post.slug }}">Learn More<i class="flaticon-right-1"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}